<div class="note">
  <div class="note-header">
    <h1 class="note-title">
      <%= note.title %>
    </h1>
    <div style="flex: 1 0 100%; order: -1; margin-top: 10px;">

    </div>
    <div class="note-menu" role="menubar">
      <small class="note-updated-at" role="status">Last updated on 5 Mar 2022 at 4:27 PM</small>
      <%= link_to edit_note_path(note), data: { "turbo-frame": "main", "turbo-action": "replace" } do %>
        <button login="laiso" class="edit-button edit-button--solid" role="menuitem">
          Edit
        </button>
      <% end %>
    </div>
  </div>
  <div class="note-preview">
    <div class="text-with-markdown">
      <p>
        <%= note.body %>
      </p>
    </div>
  </div>
</div>