<%= turbo_frame_tag :notes do %>
  <div>
    <nav>
      <ul class="notes-list" id="sidebar-notes-list">
        <% @notes.each do |note| %>
          <%= render "notes/note_list_item", note: note %>
        <% end %>
      </ul>
    </nav>
  </div>
<% end %>