<%= turbo_frame_tag "sidebar" do %>
  <div>
    <nav>
      <ul class="notes-list" id="sidebar-notes-list">
        <% @notes.each do |note| %>
          <%= render "notes/note_list_item", note: note %>
        <% end %>
      </ul>
    </nav>
  </div>
<% end %>

<%= turbo_frame_tag "main" do %>
  Click a note on the left to view something! 🥺
<% end %>