<a class="link--unstyled" href="/" data-turbo="false">
  <section class="sidebar-header">
    <img class="logo" src="/favicon-32x32.png" width="22px" height="20px" alt="" role="presentation">
    <strong>Hotwire Notes</strong>
  </section>
</a>